.contact-title {
    font-size: 36px;
    color: #216B39;
}
.contact-background {
    background-color: #216B39;
}

.contact-text {
    font-size: 28px;
    color: white;
}

.img-size {
    height: auto;
    max-width: 200px
}
