.text-css {
    font-size: 28px;
    font-family: Roboto, serif;
    color: #205A33;
}

.text-without-color {
    font-size: 16px;
    font-family: Roboto, serif;
}

.description-text {
    font-size: 20px;
    font-family: Roboto, serif;
}

.button-modal {
    font-size: 24px;
    font-family: Roboto, serif;
    background-color: #216B39;
    color: white;
}