.text-css {
    font-size: 28px;
    font-family: Roboto, serif;
    color: #205A33;
}

.button-recognize {
    font-size: 28px;
    font-family: Roboto, serif;
    background-color: #7FD895;
    color: white;
}